/* #hoverEffectBig :hover {
    border: solid;
    border-color: rgb(211, 142, 81);
    border-width: 5px;
} */

a {
    color: white;
    margin: 5px;
}

a:hover {
    color: #F89035;
}

/* .homeworkLink:hover{
color: red;
} */