.home {
    background-color: #8AB9FF;
}

.projectSection {
    background-color: rgb(56, 106, 186) !important;
    border: solid;
    border-color: black;
    border-width: 3px;
    margin-top: 10px;
}

.homeworkSection {
    background-color: rgb(56, 106, 186) !important;
    border: solid;
    border-color: black;
    border-width: 3px;
    margin-top: 30px;
}

h1 {
    color: ghostwhite;
    font-family: sans-serif;
    font-size: 32px;
}

hr {
    background-color: #999999;
    height: 1px;
}

body::-webkit-scrollbar {
    width: .7em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px black;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF882E;
    outline: 10px solid #FF882E;
}

html,body{
    overflow-x: hidden;
    overflow-y: auto;
  }

.header{
    font-family: 'Roboto Slab', serif;
}