.linkSTech {
    text-align: center;
    background-color: #979797;
    height: auto;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    /* position: sticky;
    top: 0px;
    opacity:100%; */
}

.spanForLinkTech {
    border: 1px solid black;
    height: auto;
    padding: 15px;
    color: black;
    background-color: white;
}

.spanForLinkTech:hover {
  background-color: #3468B8;
  
}

.linkTagsTech {
    font-size: 30px;
    color: black;
    font-family: 'Roboto Slab', serif;
    padding:  0px 9px 0px 9px;
}

.linkTagsTech:hover {
    color: ghostwhite;
    text-decoration: none;
}


@media only screen and (max-width: 756px) {
    .linkTagsTech {
        font-size: 15px;
    }
    .spanForLinkTech {
        border: 1px solid black;
        height: auto;
        padding: 2px;
    }
    .linkSTech {
        padding: 3px;
    }
}