.techRow{
    background-color: rgb(56, 106, 186) !important;
    color: ghostwhite;
    border: double;
    border-color: black;
    border-width: 8px;
}
.techImages{
    height: 125px;
    width: 125px;
    padding: 5px;
}

